<h2>My Heroes</h2>
<div class="add-hero-form">
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(heroName.value); heroName.value = ''">
    Add hero
  </button>
</div>
<ul class="hero-list">
  <li *ngFor="let hero of heroes" class="hero-item">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">X</button>
  </li>
</ul>
<hr />

<app-hero-detail *ngIf="selectedHero"></app-hero-detail>
<ng-template #noHeroes>
  <p>No heroes available.</p>
</ng-template>
